In [44]:
from datetime import datetime
from io import StringIO
import pandas as pd

csv_string = """
Case #,Date,Continent,Country,Deaths,Driver,Description,Source
1,4/2/2013,North America,USA,2,0," Tesla car crashes into tree, burns ",https://www.tag24.de/nachrichten/unfall/tesla-kracht-gegen-baum-und-brennt-aus-zwei-tote-und-drei-schwerverletzte-2584180
2,11/2/2013,North America,USA,1,0, Tesla veers into oncoming traffic ,https://www.ksbw.com/article/hollister-crash-kills-4-tesla-big-rig/40898893?utm_campaign=snd-autopilot
3,7/4/2014,North America,USA,3,1, Unlicensed driver hits pedestrian ,https://yle.fi/uutiset/3-12576787
4,7/4/2014,North America,USA,,1, Man in wheelchair hit crossing road , https://www.wfla.com/news/man-in-wheelchair-fatally-struck-by-suv-tesla-in-pasco-county/
5,,,USA,1,0, Tesla crashes at high speed ,https://www.boothbayregister.com/article/southport-accident-victim-named/163623
6,12/30/2014,North America,USA,1,1, Tesla hits motorcycle ,https://www.ksl.com/article/50445474/motorcyclist-dies-in-i-15-collision-with-tesla-on-autopilot-uhp-says
7,1/22/2015,North America,USA,1,1, Tesla goes airborne and crashes ,https://www.wpxi.com/news/local/least-1-person-killed-fatal-crash-pine-township/ARDDKESNLZAX7EABJBPELT4KZY/?outputType=amp
8,6/22/2015,North America,USA,1,1, Out of control Tesla hits pedestrians ,https://whatchinareads.com/article/?uid=00e9b6f6ff4d11ec98bbc7030b3aab5e
9,11/18/2015,North America,USA,1,0,3-car accident involving Tesla,https://fox5sandiego.com/traffic/82-year-old-killed-in-rollover-crash-identified/
10,12/22/2015,North America,Canada,1,1, Motorcycle crashes into Tesla ,https://www.staradvertiser.com/2022/07/09/breaking-news/kihei-man-46-dead-after-motorcycle-collision-in-wailuku/
"""

csvStringIO = StringIO(csv_string)
input_df = pd.read_csv(csvStringIO, sep=",", parse_dates=['Date'])
input_df

,Case #,Date,Continent,Country,Deaths,Driver,Description,Source
0,1,2013-04-02,North America,USA,2.0,0,"Tesla car crashes into tree, burns",https://www.tag24.de/nachrichten/unfall/tesla-...
1,2,2013-11-02,North America,USA,1.0,0,Tesla veers into oncoming traffic,https://www.ksbw.com/article/hollister-crash-k...
2,3,2014-07-04,North America,USA,3.0,1,Unlicensed driver hits pedestrian,https://yle.fi/uutiset/3-12576787
3,4,2014-07-04,North America,USA,NaN,1,Man in wheelchair hit crossing road,https://www.wfla.com/news/man-in-wheelchair-f...
4,5,NaT,NaN,USA,1.0,0,Tesla crashes at high speed,https://www.boothbayregister.com/article/south...
5,6,2014-12-30,North America,USA,1.0,1,Tesla hits motorcycle,https://www.ksl.com/article/50445474/motorcycl...
6,7,2015-01-22,North America,USA,1.0,1,Tesla goes airborne and crashes,https://www.wpxi.com/news/local/least-1-person...
7,8,2015-06-22,North America,USA,1.0,1,Out of control Tesla hits pedestrians,https://whatchinareads.com/article/?uid=00e9b6...
8,9,2015-11-18,North America,USA,1.0,0,3-car accident involving Tesla,https://fox5sandiego.com/traffic/82-year-old-k...
9,10,2015-12-22,North America,Canada,1.0,1,Motorcycle crashes into Tesla,https://www.staradvertiser.com/2022/07/09/brea...

In [52]:
input_df.loc[4, 'Date'] == NaT

NameError: name 'NaT' is not defined

In [31]:
col = 'Date'
input_df.loc[:,col] = input_df.loc[:,col].replace({None: datetime.today()})

/tmp/ipykernel_24618/264786326.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  input_df.loc[:,col] = input_df.loc[:,col].replace({None: datetime.today()})

In [32]:
input_df

,Case #,Date,Continent,Country,Deaths,Driver,Description,Source
0,1,2013-04-02 00:00:00.000000,North America,USA,2.0,0,"Tesla car crashes into tree, burns",https://www.tag24.de/nachrichten/unfall/tesla-...
1,2,2013-11-02 00:00:00.000000,North America,USA,1.0,0,Tesla veers into oncoming traffic,https://www.ksbw.com/article/hollister-crash-k...
2,3,2014-07-04 00:00:00.000000,North America,USA,3.0,1,Unlicensed driver hits pedestrian,https://yle.fi/uutiset/3-12576787
3,4,2014-07-04 00:00:00.000000,North America,USA,NaN,1,Man in wheelchair hit crossing road,https://www.wfla.com/news/man-in-wheelchair-f...
4,5,2023-01-21 13:52:19.602932,NaN,USA,1.0,0,Tesla crashes at high speed,https://www.boothbayregister.com/article/south...
5,6,2014-12-30 00:00:00.000000,North America,USA,1.0,1,Tesla hits motorcycle,https://www.ksl.com/article/50445474/motorcycl...
6,7,2015-01-22 00:00:00.000000,North America,USA,1.0,1,Tesla goes airborne and crashes,https://www.wpxi.com/news/local/least-1-person...
7,8,2015-06-22 00:00:00.000000,North America,USA,1.0,1,Out of control Tesla hits pedestrians,https://whatchinareads.com/article/?uid=00e9b6...
8,9,2015-11-18 00:00:00.000000,North America,USA,1.0,0,3-car accident involving Tesla,https://fox5sandiego.com/traffic/82-year-old-k...
9,10,2015-12-22 00:00:00.000000,North America,Canada,1.0,1,Motorcycle crashes into Tesla,https://www.staradvertiser.com/2022/07/09/brea...

In [46]:
input_df.loc[:col].any(None)

/tmp/ipykernel_24618/1567507188.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  input_df.loc[:col].any(None)

True